* {
    box-sizing: border-box;
}

@media only screen and (max-width: 1026px) {
    .mobile-only {
        width: 20rem !important;
    }
    .mobile-only h1 {
        font-size: 1.1rem !important;
    }
    .mobile-only input {
        width: 18rem !important;
    }
    .mobile-only #dialog header {
        font-size: 1.1rem !important;
        padding: 0.3rem !important;
    }
    .mobile-only #dialog header h2 {
        font-size: 1.1rem !important;
    }
    .mobile-only #dialog p {
        font-size: 0.9rem !important;
        padding: 0.5rem !important;
    }
}

body {
    background-color: #eeeeee;
    opacity: 1;
    background: radial-gradient(circle, transparent 20%, #eeeeee 20%, #eeeeee 80%, transparent 80%, transparent),
        radial-gradient(circle, transparent 20%, #eeeeee 20%, #eeeeee 80%, transparent 80%, transparent) 25px 25px,
        linear-gradient(#3399ff 2px, transparent 2px) 0 -1px, linear-gradient(90deg, #3399ff 2px, #eeeeee 2px) -1px 0;
    background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: #fff;
    top: 8rem;
    margin: auto;
    width: 40rem;
    height: auto;
    min-height: 25rem;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 30px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 6rem;
    width: auto;
}

h1 {
    font-family: 'Epilogue', sans-serif;
    font-size: 2rem;
}

input {
    font-family: 'Epilogue', sans-serif;
    font-size: 1rem;
    height: 2.5rem;
    width: 20rem;
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
}

input:hover {
    border-bottom: 2px solid #bb86fc;
    transition: all ease-in-out 0.3s;
}
input:focus {
    background-color: #f7f1fe;
    border-bottom: 2px solid #bb86fc;
}
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

p {
    position: relative;
    font-family: 'Epilogue', sans-serif;
    font-size: 1.4rem;
    top: 1.5rem;
}

#dialog {
    min-height: 40%;
    min-width: 60%;
    max-width: 80%;
    border: none;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#dialogBox::backdrop {
    opacity: 1;
    background-color: rgb(25, 25, 170);
    backdrop-filter: blur(1px);
}

#dialog header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 1rem;
}

#dialog header h2 {
    font-family: 'Epilogue', sans-serif;
    font-size: 1.5rem;
}

#dialog p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    position: relative;
    text-decoration: none;
    font-family: 'Epilogue', sans-serif;
    font-size: 1.1rem;
}

#dialog-close-button {
    position: relative;
    height: 36px;
    line-height: 27px;
    min-width: 54px;
    padding: 0 16px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    cursor: pointer;
    font-family: arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: pre;
}

#dialog-close-button:hover {
    border-color: #dadce0;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
    color: #202124;
}

#dialog-close-button:focus {
    border-color: #bb86fc;
    outline: none;
}

.mostrar-dialog {
    position: relative;
    font-family: 'Epilogue', sans-serif;
    top: 1rem;
    font-size: 0.8rem;
}

.button-calcular {
    position: relative;
    height: 36px;
    line-height: 27px;
    min-width: 54px;
    padding: 0 16px;
    top: 1.4rem;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    cursor: pointer;
    font-family: arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: pre;
}

.button-calcular:hover {
    border-color: #dadce0;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
    color: #202124;
}

.button-calcular:focus {
    border-color: #bb86fc;
    outline: none;
}
